.chat-img-div{
    max-width: 2rem;
    height: 2rem;
    display: flex;
    align-items:center;
}
.chat-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.chat-username{
    padding-inline-start: 10px;
    margin: 0%;
    min-width: max-content;
}
p{
    margin: 0%;
}
.last-seen{
    font-size: x-small;
}

.online-indicator {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: rgb(61, 244, 61);
  }
.unread-indicator{
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: rgb(237, 25, 25); 
}