.logo-text {
    font-family: 'Titan One', cursive;
}

.nav-icon {
    font-size: 24px;
}

.left-side-nav {
    min-height: 100dvh;
    max-width: fit-content;
    position: fixed;
}
.navbar-items{
    padding-top: 4px;
}
.logout-btn-div{
    position:absolute;
    bottom: 10px;
}
@media (max-width: 767px) {
    .left-side-nav{
        padding:0%;
        margin:0%;
        position: relative;
        min-width: 100%;
        min-height: fit-content;
        max-height: fit-content;
    }
    .navbar-items{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0%;
        padding: 0%;
    }
    
    .small-screen-item-hide{
        display: none;
    }
    .nav-icon{
        font-size: x-large;
    }
}