.right-side-nav {
    position: fixed;
    max-width: fit-content;
}

.suggested-profile-image {
    border-radius: 50%;
    min-width: 45px; /* Adjust the size as needed */
    min-height: 45px; /* Adjust the size as needed */
    max-width: 45px;
    max-height: 45px;
}