.profile-img-div {
    min-width: 10rem;
    width: 10rem;
    min-height: 10rem;
    overflow: hidden;

}

.profile-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

}