.main-div {
  display: flex;
  min-height: 100dvh;
  max-height: 100dvh;
  justify-content: center;
  align-items: center;
}

.chat-side {
  min-height: 80dvh;
  max-height: 80dvh;
  min-width: 80vw;
}
form {
  max-height: fit-content;
}
.chat-user-div {
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 8px; /* Add some padding for better styling */
}

.chat-box-div {
  min-height: 80dvh;
  max-height: 80dvh;
}
.users-div {
  overflow-y: auto;
}
